[Desktop Entry]
Version=1.0
Name=BNG
GenericName=BNG
Comment=BNG BrowseNGrab bookmarks collection tool
Exec=/usr/bin/bng
TryExec=/usr/bin/bng
Icon=/usr/share/icons/bng.png
Terminal=true
Type=Application
Categories=Utility;
Keywords=bookmarks;grab;collection;browser;
